#include "DiDesktopAppWindow.inc"

FileNew                RCDATA  "..\..\Images\Document.png"
FileOpen               RCDATA  "..\..\Images\Open.png"
FileSave               RCDATA  "..\..\Images\Save.png"
FilePrintPreview       RCDATA  "..\..\Images\PrintPreview.png"
FilePrint              RCDATA  "..\..\Images\Print.png"
EditUndo               RCDATA  "..\..\Images\EditUndo.png"
EditCut                RCDATA  "..\..\Images\Cut.png"
EditCopy               RCDATA  "..\..\Images\Copy.png"
EditPaste              RCDATA  "..\..\Images\Paste.png"
EditDelete             RCDATA  "..\..\Images\Delete.png"
EditFind               RCDATA  "..\..\Images\Find.png"
ViewFileTree           RCDATA  "..\..\Images\Tree.png"
ViewFileList           RCDATA  "..\..\Images\List.png"
ViewOutline            RCDATA  "..\..\Images\Thumbnails.png"
ViewZoomUp             RCDATA  "..\..\Images\ZoomIn.png"
ViewZoomDown           RCDATA  "..\..\Images\ZoomOut.png"
ViewNavigateBackward   RCDATA  "..\..\Images\Backward.png"
ViewNavigateForward    RCDATA  "..\..\Images\Forward.png"
QueryExecute           RCDATA  "..\..\Images\Execute.png"
DataFirst              RCDATA  "..\..\Images\MoveFirst.png"
DataPrevious           RCDATA  "..\..\Images\MovePrevious.png"
DataNext               RCDATA  "..\..\Images\MoveNext.png"
DataLast               RCDATA  "..\..\Images\MoveLast.png"
DataNewRecord          RCDATA  "..\..\Images\NewRecord.png"
DataDeleteRecord       RCDATA  "..\..\Images\DeleteRecord.png"
DataSaveRecord         RCDATA  "..\..\Images\Apply.png"
DataCancelInput        RCDATA  "..\..\Images\Cancel.png"
ToolsConnect           RCDATA  "..\..\Images\Connect.png"
ToolsDisconnect        RCDATA  "..\..\Images\Disconnect.png"
WindowCloseAll         RCDATA  "..\..\Images\Close.png"
HelpContext            RCDATA  "..\..\Images\Help.png"
GoToParentFolder       RCDATA  "..\..\Images\GoToParentFolder.png"
ViewTable              RCDATA  "..\..\Images\ViewTable.png"
ViewList               RCDATA  "..\..\Images\ViewList.png"

STRINGTABLE
BEGIN
END
